//Colors
$primary-color: #B26EC9;
$btn-primary-hover: #D29CE0;
$base-white: #FFFFFF;
$title: #000000;
$text: #333333;
$border: #BDBDBD;
$gold-star: #EDA128;
$grey-star: #c6c6c6;

//Fonts
$font-family-primary: "Playfair Display", serif;
$font-family-secondary: "Open Sans", sans-serif;

//Weights
$w-light: 300;
$w-regular: 400;
$w-medium: 500;
$w-semibold: 600;
$w-bold: 700;
$w-extrabold: 800;
$w-black: 900;

// Breakpoints
$bp-mobile: 767px; // Mobile Breakpoint
$bp-tablet: 1023px; // Tablet Breakpoint